<div class="search-container text-center">
  <h1>Hello Star Wars fan!</h1>
  <form class="align-content-sm-center" [formGroup]="searchForm"
        (submit)="search(searchForm)">
    <div class="form-group">
      <p>
        What are you looking for?
      </p>
      <select class="custom-select" formControlName="resources" >
        <option selected>Choose...</option>
        <option value="films">Films</option>
        <option value="people">People</option>
        <option value="planets">Planets</option>
        <option value="species">Species</option>
        <option value="starships">Starships</option>
        <option value="vehicles">Vehicles</option>
      </select>
    </div>
    <div class="form-group">
      <label>
        <input class="input-group-sm"
               formControlName="search"
               type="text">
      </label>
      <button class="btn btn-warning"
              type="submit">
        search
      </button>
    </div>
  </form>
</div>
<div class="not-found"
     *ngIf="results && results.count === 0 ">
  <p>Not found :(</p>
</div>
<div class="card text-center results"
     *ngIf="results && results.count === 1 && resources === 'people'">
  <div class="card-header">Name: {{this.results.results[0].name}}</div>
  <div class="card-body">
    <h6>Height: {{this.results.results[0].height}}</h6>
    <h6>Mass: {{this.results.results[0].mass}}</h6>
    <h6>Hair color: {{this.results.results[0].hair_color}}</h6>
    <h6>Skin color: {{this.results.results[0].skin_color}}</h6>
    <h6>Eye color: {{this.results.results[0].eye_color}}</h6>
    <h6>Birth year: {{this.results.results[0].birth_year}}</h6>
    <h6>Gender: {{this.results.results[0].gender}}</h6>
    <h6>Homeworld: <a href="{{this.results.results[0].homeworld}}">
      {{this.results.results[0].homeworld}}</a></h6>
  </div>
  <div class="card-footer text-muted">Film:
    <ul class="film" *ngFor="let film of this.results.results[0].films">
      <li><a href="{{film}}">{{film}}</a></li>
    </ul>
  </div>
</div>
<p>{{results | json}}</p>


<!--      <div class="btn-group">-->
<!--        <button type="button" class="btn btn-warning">search</button>-->
<!--        <button type="button" class="btn btn-warning dropdown-toggle dropdown-toggle-split" data-toggle="dropdown">-->
<!--        </button>-->
<!--        <div class="dropdown-menu">-->
<!--          <a class="dropdown-item">films</a>-->
<!--          <a class="dropdown-item">people</a>-->
<!--          <a class="dropdown-item">planets</a>-->
<!--          <a class="dropdown-item">species</a>-->
<!--          <a class="dropdown-item">starships</a>-->
<!--          <a class="dropdown-item">vehicles</a>-->
<!--        </div>-->
<!--      </div>-->
<!--<audio autoplay>-->
<!--  <source src="/src/assets/audio/Star_Wars_original_opening_crawl_1977.mp3" type="audio/mpeg">-->
<!--</audio>-->
